<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BazaNiesprawnosci.MainSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
    
  </entityFramework>
  <userSettings>
    <BazaNiesprawnosci.MainSettings>
      <setting name="TEffectFlightSafety" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Incydent</string>
            <string>Bez następstw</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TEffectCompletingTask" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Przerwanie startu</string>
            <string>Przerwanie wykonywania zadania w powietrzu</string>
            <string>Praca na ziemii</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TSolutionProcedure" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Wymiana częsci (agregatu)</string>
            <string>Naprawa częsci (agregatu)</string>
            <string>Resuscytacja</string>
            <string>Oczyszczenie złącza (filtra)</string>
            <string>Inne</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TItemProcedure" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Badania</string>
            <string>Remont</string>
            <string>Naprawa</string>
            <string>Kasacja</string>
            <string>Inne</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TAircraft" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>011</string>
            <string>012</string>
            <string>013</string>
            <string>014</string>
            <string>015</string>
            <string>016</string>
            <string>017</string>
            <string>018</string>
            <string>020</string>
            <string>021</string>
            <string>022</string>
            <string>023</string>
            <string>024</string>
            <string>025</string>
            <string>026</string>
            <string>027</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TCircumstances" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Obsługa przedlotowa</string>
            <string>Obsługa polotowa</string>
            <string>Obsługa okresowa</string>
            <string>Podczas lotu</string>
            <string>Podczas kołowania</string>
            <string>Po uruchomieniu silników</string>
            <string>Podczas próby silników</string>
            <string>Servicing</string>
            <string>Dni techniki</string>
            <string>Obsługa roczna</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TClassification" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>It</string>
            <string>Tz</string>
            <string>X</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TSpeciality" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Awionika</string>
            <string>Płatowiec i Silnik</string>
            <string>Urządzenia specjalne i walka elektroniczna</string>
            <string>Urządzenia radioelektroniczne</string>
            <string>Osprzęt</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TAircraftType" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>CASA C-295 M</string>
            <string>M28 GC</string>
          </ArrayOfString>
        </value>
      </setting>
    </BazaNiesprawnosci.MainSettings>
  </userSettings>
</configuration>